<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="footlink">
                    <ul>
                        <li>
                            <a href="">Home</a>
                        </li>
                        <li>
                            <a href="">Services</a>
                        </li>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="socialicons">
                    <div class="socialicons__text">
                        <p>Find us on</p>
                    </div>
                    <div class="socialicons__icon">
                        <ul>
                            <li>
                                <div>
                                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </div>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-skype" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <p>
                    Sign up for our <strong>newsletter!</strong>
                </p>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-btn">
                        <button class="btn btn-default">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>