<div class="banner">
    <img src="frontend/img/icu-orientation/icu-orientation-banner.jpg" alt="" class="img-responsive">
</div>
<div class="img-section page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 padd0">
                <div class="img-section__img">
                    <img src="frontend/img/icu-orientation/a.jpg" alt="" class="img-responsive">
                    <!--<div class="img__overlay"></div>-->
                </div>
                <div class="img-section__text">
                    <!--<h1>Orientation</h1>-->
                    <!--<img src="frontend/img/icu-orientation/orientation.png" alt="" class="img-responsive">-->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vitae nesciunt unde explicabo voluptates voluptatum dolorem.
                        Illo vitae nesciunt unde explicabo voluptate
                    </p>
                    <button class="btn btn-default btn-green tmp__btn text-uppercase">view</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 padd0">
                <div class="img-section__img">
                    <img src="frontend/img/icu-orientation/b.jpg" alt="" class="img-responsive">
                    <!--<div class="img__overlay"></div>-->
                </div>
                <div class="img-section__text">
                    <!--<h1>Advanced</h1>-->
                    <!--<img src="frontend/img/icu-orientation/advanced.png" alt="" class="img-responsive">-->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vitae nesciunt unde explicabo voluptates voluptatum dolorem.
                        Illo vitae nesciunt unde explicabo voluptate
                    </p>
                    <button class="btn btn-default btn-green tmp__btn text-uppercase">view</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 padd0">
                <div class="img-section__img">
                    <img src="frontend/img/icu-orientation/c.jpg" alt="" class="img-responsive">
                    <!--<div class="img__overlay"></div>-->
                </div>
                <div class="img-section__text">
                    <!--<h1>Advanced</h1>-->
                    <!--<img src="frontend/img/icu-orientation/cardio.png" alt="" class="img-responsive">-->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vitae nesciunt unde explicabo voluptates voluptatum dolorem.
                        Illo vitae nesciunt unde explicabo voluptate
                    </p>
                    <button class="btn btn-default btn-green tmp__btn text-uppercase">view</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 padd0">
                <div class="img-section__img">
                    <img src="frontend/img/icu-orientation/d.jpg" alt="" class="img-responsive">
                    <!--<div class="img__overlay"></div>-->
                </div>
                <div class="img-section__text">
                    <!--<h1>Advanced</h1>-->
                    <!--<img src="frontend/img/icu-orientation/cardio1.png" alt="" class="img-responsive">-->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vitae nesciunt unde explicabo voluptates voluptatum dolorem.
                        Illo vitae nesciunt unde explicabo voluptates
                    </p>
                    <button class="btn btn-default btn-green tmp__btn text-uppercase">view</button>
                </div>
            </div>
        </div>
    </div>
</div>