<div class="banner">
    <img src="frontend/img/icu-orientation/icu-orientation-banner.jpg" alt="" class="img-responsive">
</div>
<div class="img-section page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 padd0">
                <div class="img-section__img">
                    <img src="frontend/img/icu-orientation/icu-img-1.jpg" alt="" class="img-responsive">
                    <div class="img__overlay"></div>
                </div>
                <div class="img-section__text">
                    <h1>Orientation</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vitae nesciunt unde explicabo voluptates voluptatum dolorem
                    </p>
                    <button class="btn btn-default btn-green text-uppercase">view</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 padd0">
                <div class="img-section__img">
                    <img src="frontend/img/icu-orientation/icu-img-2.jpg" alt="" class="img-responsive">
                    <div class="img__overlay"></div>
                </div>
                <div class="img-section__text">
                    <h1>Advanced</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vitae nesciunt unde explicabo voluptates voluptatum dolorem
                    </p>
                    <button class="btn btn-default btn-green text-uppercase">view</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 padd0">
                <div class="img-section__img">
                    <img src="frontend/img/icu-orientation/icu-img-3.jpg" alt="" class="img-responsive">
                    <div class="img__overlay"></div>
                </div>
                <div class="img-section__text">
                    <h1>Advanced</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vitae nesciunt unde explicabo voluptates voluptatum dolorem
                    </p>
                    <button class="btn btn-default btn-green text-uppercase">view</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 padd0">
                <div class="img-section__img">
                    <img src="frontend/img/icu-orientation/icu-img-4.jpg" alt="" class="img-responsive">
                    <div class="img__overlay"></div>
                </div>
                <div class="img-section__text">
                    <h1>Advanced</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vitae nesciunt unde explicabo voluptates voluptatum dolorem
                    </p>
                    <button class="btn btn-default btn-green text-uppercase">view</button>
                </div>
            </div>
        </div>
    </div>
</div>