<div class="login-signup-holder">
    <div class="row marg0">
        <div class="col-md-5">
            <div class="company-detail">
                <h2>
                    <img src="frontend/img/icons/logo.png" alt="" class="img-responsive">
                    <h3>Welcome</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quam facere at molestiae libero veritatis
                        accusantium natus animi. Reiciendis tempora, quae sit quasi quidem repellat iusto tempore cupiditate
                        magni temporibus.</p>
                </h2>
            </div>
        </div>
        <div class="col-md-7">
            <form action="">
                <div class="login-signup-tab">
                    <uib-tabset justified="true" active="tabActive">
                        <uib-tab>
                            <uib-tab-heading>Log in</uib-tab-heading>
                            <div class="login-form minheight">
                                <div class="row marg0">
                                    <div class="col-md-offset-2 col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Email Address">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                signup
                            </uib-tab-heading>
                            <div class="signup-form minheight">
                                <h5>content signp</h5>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </form>
        </div>
    </div>
</div>